h1 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 15px;
}    

table, tr, th , td {
            margin-left:auto;
            margin-right: auto;
            border: solid black 1px;
    
}
li {
	text-align: justify;
	font-size: 17px;
	margin: 15px;
}
ul{
	text-align: justify;
	font-size: 18px;
	margin: 15px;
}
#f2{	
	display:block;
	margin:auto;
	width:500px;
	height:100px;

}
#f3{
	width:150px;
	height:100px;
}
#f4{
	width:150px;
	height:100px;
}
#f5{
	display:block;
	margin:auto;
	width:300px;
}

#f6{
	display:block;
	margin:auto;
	width:300px;
}
#f7{
	display:block;
	margin:auto;
	width:300px;
}
#f8{
	display:block;
	margin:auto;
	width:300px;
}
#f9{
	display:block;
	margin:auto;
	width:400px;
}

#f10{
	display:block;
	margin:auto;
	width:400px;
}
#f11{
	display:block;
	margin:auto;
	width:400px;
}
#f12{
	display:block;
	margin:auto;
	width:400px;
}
#f13{
	display:block;
	margin:auto;
	width:400px;
}




